In [1]:
import pandas as pd
  
embara = pd.read_stata('https://github.com/Proyecto-Magallanes/Dashboard/raw/main/data/embarazo.dta')
matri = pd.read_stata('https://github.com/Proyecto-Magallanes/Dashboard/raw/main/data/matrimonio.dta')

In [2]:
df = embara.merge(matri, on='V023', how='inner')
df

              V023    embara   matri_in
0         Amazonas  2.837393  34.200142
1           Ancash  0.601753  20.948143
2         Apurimac  5.648242  27.332294
3         Arequipa  3.010771  17.019220
4         Ayacucho  2.198520  26.127815
5        Cajamarca  3.208621  29.346756
6           Callao  3.100111  19.056759
7            Cusco  0.000000  25.541788
8     Huancavelica  2.915410  32.641472
9          Huanuco  0.988595  27.423325
10             Ica  3.328177  22.474384
11           Junin  2.941517  22.384163
12     La Libertad  5.333999  22.763582
13      Lambayeque  2.292395  24.004553
14            Lima  1.252107  16.930855
15          Loreto  4.937203  35.117611
16   Madre de Dios  6.448959  32.758926
17        Moquegua  1.577186  19.565977
18           Pasco  1.441410  23.990250
19           Piura  0.969380  25.551786
20            Puno  0.878504  22.827028
21      San Martin  2.080905  41.210072
22           Tacna  1.663377  20.817640
23          Tumbes  3.429705  28.994387
24         Ucayali  6.782629  38.834347

In [3]:
df[['embara', 'matri_in']]=df[['embara', 'matri_in']]. apply(pd.to_numeric)

In [4]:
df=df.rename(columns={'V023':'DEPARTAMEN'})

In [5]:
#Data Scaling
columnsToScale=['embara', 'matri_in'] # you can add more columns

from sklearn import preprocessing

minmaxSc = preprocessing.MinMaxScaler(feature_range=(0, 10))

minmaxResult = minmaxSc.fit_transform(df[columnsToScale])

minmaxResult

array([[ 4.183324  ,  7.112786  ],
       [ 0.8871977 ,  1.6546206 ],
       [ 8.327513  ,  4.2840915 ],
       [ 4.4389443 ,  0.03639555],
       [ 3.2413988 ,  3.7879968 ],
       [ 4.7306447 ,  5.1137977 ],
       [ 4.5706635 ,  0.87560654],
       [ 0.        ,  3.5466275 ],
       [ 4.298348  ,  6.4708085 ],
       [ 1.4575403 ,  4.321585  ],
       [ 4.9069133 ,  2.2832408 ],
       [ 4.3368387 ,  2.2460809 ],
       [ 7.864206  ,  2.4023538 ],
       [ 3.379803  ,  2.9134784 ],
       [ 1.8460491 ,  0.        ],
       [ 7.2791886 ,  7.490668  ],
       [ 9.508052  ,  6.5191855 ],
       [ 2.325332  ,  1.085341  ],
       [ 2.1251502 ,  2.9075875 ],
       [ 1.4292096 ,  3.5507455 ],
       [ 1.2952261 ,  2.4284854 ],
       [ 3.0679917 , 10.        ],
       [ 2.452408  ,  1.6008697 ],
       [ 5.056602  ,  4.9686656 ],
       [10.        ,  9.021498  ]], dtype=float32)

In [6]:
df['Total_minMax_embara']=minmaxResult[:, 0]
df['Total_minMax_matri']=minmaxResult[:, 1]

In [7]:
df['DEPARTAMEN'] = df['DEPARTAMEN'].str.upper().str.strip()
df

,DEPARTAMEN,embara,matri_in,Total_minMax_embara,Total_minMax_matri
0,AMAZONAS,2.837393,34.200142,4.183324,7.112786
1,ANCASH,0.601753,20.948143,0.887198,1.654621
2,APURIMAC,5.648242,27.332294,8.327513,4.284091
3,AREQUIPA,3.010771,17.019220,4.438944,0.036396
4,AYACUCHO,2.198520,26.127815,3.241399,3.787997
5,CAJAMARCA,3.208621,29.346756,4.730645,5.113798
6,CALLAO,3.100111,19.056759,4.570663,0.875607
7,CUSCO,0.000000,25.541788,0.000000,3.546628
8,HUANCAVELICA,2.915410,32.641472,4.298348,6.470809
9,HUANUCO,0.988595,27.423325,1.457540,4.321585
10,ICA,3.328177,22.474384,4.906913,2.283241
11,JUNIN,2.941517,22.384163,4.336839,2.246081
12,LA LIBERTAD,5.333999,22.763582,7.864206,2.402354
13,LAMBAYEQUE,2.292395,24.004553,3.379803,2.913478
14,LIMA,1.252107,16.930855,1.846049,0.000000
15,LORETO,4.937203,35.117611,7.279189,7.490668
16,MADRE DE DIOS,6.448959,32.758926,9.508052,6.519186
17,MOQUEGUA,1.577186,19.565977,2.325332,1.085341
18,PASCO,1.441410,23.990250,2.125150,2.907588
19,PIURA,0.969380,25.551786,1.429210,3.550745
20,PUNO,0.878504,22.827028,1.295226,2.428485
21,SAN MARTIN,2.080905,41.210072,3.067992,10.000000
22,TACNA,1.663377,20.817640,2.452408,1.600870
23,TUMBES,3.429705,28.994387,5.056602,4.968666
24,UCAYALI,6.782629,38.834347,10.000000,9.021498

In [8]:
#Empezamos con el Mapa
import geopandas as gpd
import os

Peru=gpd.read_file(os.path.join("mapas", "peruMaps.gpkg"))

In [ ]:
theMap=Peru.merge(df,on='DEPARTAMEN')
theMap

In [ ]:
#Intervalos
import mapclassify 
import numpy as np

np.random.seed(12345) # so we all get the same results!

# let's try 5 intervals
K=5
theVar=theMap.Total_minMax_embara
# same interval width, easy interpretation
ei5 = mapclassify.EqualInterval(theVar, k=K)
# same interval width based on standard deviation, easy - but not as the previous one, poor when high skewness
msd = mapclassify.StdMean(theVar)
# interval width varies, counts per interval are close, not easy to grasp, repeated values complicate cuts                                
q5=mapclassify.Quantiles(theVar,k=K)

# based on similarity, good for multimodal data 
mb5 = mapclassify.MaximumBreaks(theVar, k=K)
# based on similarity, good for skewed data
ht = mapclassify.HeadTailBreaks(theVar) # no K needed
# based on similarity, optimizer
fj5 = mapclassify.FisherJenks(theVar, k=K)
# based on similarity, optimizer
jc5 = mapclassify.JenksCaspall(theVar, k=K)
# based on similarity, optimizer
mp5 = mapclassify.MaxP(theVar, k=K)

In [ ]:
class5 = q5, ei5,msd, ht, mb5, fj5, jc5, mp5
# Collect ADCM for each classifier
fits = np.array([ c.adcm for c in class5])
# Convert ADCM scores to a DataFrame
adcms = pd.DataFrame(fits)
# Add classifier names
adcms['classifier'] = [c.name for c in class5]
# Add column names to the ADCM
adcms.columns = ['ADCM', 'Classifier']

In [ ]:
adcms.sort_values('ADCM').plot.barh(x='Classifier')

In [ ]:
#Se corrio y para matri es mejor el msd
theMap['Total_msd_embara'] = msd.yb

In [ ]:
K=5
theVar=theMap.Total_minMax_matri
# same interval width, easy interpretation
ei5_m = mapclassify.EqualInterval(theVar, k=K)
# same interval width based on standard deviation, easy - but not as the previous one, poor when high skewness
msd_m = mapclassify.StdMean(theVar)
# interval width varies, counts per interval are close, not easy to grasp, repeated values complicate cuts                                
q5_m=mapclassify.Quantiles(theVar,k=K)

# based on similarity, good for multimodal data 
mb5_m = mapclassify.MaximumBreaks(theVar, k=K)
# based on similarity, good for skewed data
ht_m = mapclassify.HeadTailBreaks(theVar) # no K needed
# based on similarity, optimizer
fj5_m = mapclassify.FisherJenks(theVar, k=K)
# based on similarity, optimizer
jc5_m = mapclassify.JenksCaspall(theVar, k=K)
# based on similarity, optimizer
mp5_m = mapclassify.MaxP(theVar, k=K)

In [ ]:
class5_m = q5_m, ei5_m,msd_m, ht_m, mb5_m, fj5_m, jc5_m, mp5_m
# Collect ADCM for each classifier
fits_m = np.array([ c.adcm for c in class5_m])
# Convert ADCM scores to a DataFrame
adcms_m = pd.DataFrame(fits_m)
# Add classifier names
adcms_m['classifier'] = [c.name for c in class5_m]
# Add column names to the ADCM
adcms_m.columns = ['ADCM', 'Classifier']

In [ ]:
adcms_m.sort_values('ADCM').plot.barh(x='Classifier')

In [ ]:
theMap['Total_msd_matri'] = msd_m.yb

In [ ]:
changes={1:"Nivel Bajo", 2:"Nivel Medio", 3:"Nivel Alto", 4:"Nivel muy Alto"}
theMap[['Total_msd_embara_levels', 'Total_msd_matri_levels']]=theMap.loc[:,['Total_msd_embara','Total_msd_matri']].replace(to_replace=changes)
theMap

In [ ]:
theMap.to_file(os.path.join("mapas","PeruMapa.gpkg"), layer='peru', driver="GPKG")

In [ ]:
#rescalando
theMap=theMap.to_crs(8858)
theMap['centroid']=theMap.geometry.centroid

In [ ]:
import matplotlib.pyplot as plt

f, ax = plt.subplots(1, figsize=(10, 10))
theMap.plot(column='Total_msd_embara', 
        cmap='coolwarm', 
        categorical=True,
        edgecolor='grey', 
        linewidth=0.1, 
        alpha=0.75, 
        legend=True,
        legend_kwds={'loc':3},
        ax=ax
       )

ax.set_axis_off()

In [ ]:
# just the plot

f, ax = plt.subplots(1, figsize=(8, 8))
base=theMap.plot(column='Total_msd_embara', 
        cmap='Greens', 
        categorical=True,
        edgecolor='grey', 
        linewidth=0.1, 
        alpha=0.75, 
        legend=True,
        legend_kwds={'loc':3},
        ax=ax
       )

# another column, with the size of the POINTS (based on "Total_ei5")
theMap["sizeOfMarker_msd_matri"]=[4**exp for exp in theMap["Total_msd_matri"]]

# now, plotting the centroids (declared as the geometry)!!!
mapa1 = theMap.set_geometry("centroid").plot(column="Total_msd_matri",
                                         categorical=True,
                                         markersize=theMap["sizeOfMarker_msd_matri"],
                                         cmap='Reds',
                                         edgecolor='grey',
                                         linewidth=0.5,
                                         legend=True,
                                         ax=base)
plt.savefig(os.path.join("imagenes","mapa1.png"))

In [ ]:
import seaborn as sns


f, ax = plt.subplots(1, figsize=(8, 8))

# Trazar todas las regiones en gris con bordes notables
theMap.boundary.plot(ax=ax, color='grey', linewidth=0.5, alpha=0.75)

# Filtrar las regiones con una alta tasa de embarazo (por ejemplo, con una tasa mayor a un cierto umbral)
umbral_embarazo = 2  # Ajusta el umbral según tus datos
regiones_altas_embarazo = theMap[theMap['Total_msd_embara'] > umbral_embarazo]

# Calcular el tamaño de los centroides basado en Total_msd_matri
regiones_altas_embarazo.loc[:, "sizeOfMarker_msd_matri"] = 4 ** regiones_altas_embarazo["Total_msd_matri"]


# Trazar solo las regiones con alta tasa de embarazo en verde
regiones_altas_embarazo.plot(column='Total_msd_embara', 
                             cmap='coolwarm', 
                             categorical=True,
                             edgecolor='grey',  # Establecer el color del borde en negro
                             linewidth=0.01,  # Aumentar el ancho del borde
                             alpha=0.75, 
                             legend=True,
                             legend_kwds={'loc': 3},
                             ax=ax
                            )

# Trazar los centroides solo en las regiones con alta tasa de embarazo con tamaños variables
regiones_altas_embarazo.set_geometry("centroid").plot(column="Total_msd_matri",
                                                      categorical=True,
                                                      markersize="sizeOfMarker_msd_matri",  # Tamaño variable basado en la nueva columna
                                                      cmap='viridis',
                                                      edgecolor='grey',  # Establecer el color del borde en negro
                                                      linewidth=0.3,  # Aumentar el ancho del borde
                                                      legend=True,
                                                      ax=ax
                                                     )


plt.savefig(os.path.join("imagenes","mapa2.png"))

In [ ]:
plt.savefig(os.path.join("imagenes","mapa1.png"))
# save the map as image (create "images" folder first)
#plt.savefig(os.path.join("images",'Brasil_3layers.jpg'))